# Capstone Project

### IBM Data Science Professional Certificate

In [15]:
import pandas as pd
import numpy as np

In [16]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

#### Import pandas and scape the site

In [17]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)

#### Tranform the list into a dataframe, rename the columns, get rid of not assigned Borough, order by PostalCode, and finally reset index

In [20]:
# tranform the list into a dataframe
df = pd.DataFrame(df_list[0])
# rename 'Postal Code' in 'PostalCode'
df = df.rename(columns = {'Postal Code': 'PostalCode'}, inplace = False)
# ignore rows with Borough ' 'Not assigned'
df = df[df['Borough']!='Not assigned']
# order by PostalCode
df = df.sort_values(by=['PostalCode'])
# reset index
df.reset_index(drop=True, inplace=True)
df

    PostalCode      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [21]:
df.shape

(103, 3)

In [22]:
# reading coordinates csv file
url_csv = 'https://cocl.us/Geospatial_data'
coordinates_list = pd.read_csv(url_csv)
# transforming the list into a dataframe
df_coordinates = pd.DataFrame(coordinates_list)

In [23]:
df_coordinates

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [27]:
# dropping all columns but Latutude and Longitude
df_coordinates = df_coordinates.drop(['Postal Code'], axis=1)

In [31]:
df_final = pd.concat([df, df_coordinates], axis=1)
df_final

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054